html{
  font-family: sans-serif;
  color: whitesmoke;
  background-color: black;
  display: flex;
}

body{
  max-width: 375px;
  margin: auto;
  background-image: url(../img/fond.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

p{
  font-size: 15px;
  padding:0 15px 0 15px;
  font-family: 'Roboto Slab', serif;
  font-weight:900;
  line-height: 18pt;
}

img {
  display: block;
  max-width: 100%;
  margin-left: 22.5px;
  

}

h1{
  display: inline-flex;
  justify-content: center;
  font-size: 18px;
}

 h2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
 }

 hr{
  border: solid 2.5px white;
  margin: 10px;
  border-radius: 180px;
 }

.red-element{
  color: red;
}

.blue-element{
  color: aqua;
}

.album{
  width: 330px  ;
}

.mini-bar{
  margin: 0 100px;
}

em{
  font-style: normal;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header{
  background-color: black;
  position: fixed;
}

header img{
  display:flex ;
  justify-content: center;
  align-items: center;

}

